* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*--Меняет отсчёт ширины блока для более удобной вёрстки--*/
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*--Убирает линии обводки у некоторых браузеров--*/
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

/*--Делает теги блочными--*/
header,
nav,
aside,
footer {
  display: block;
}

/*--Параметры, которые уравнивают поведение шрифтов и элементов для разных браузеров--*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 16px;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*--Наследование семейства шрифта тегами формы(по умолчанию не наследуют)--*/
input,
button,
textarea {
  font-family: inherit;
}

/*--Данные параметры убирают некоторые особенности в разных браузерах--*/
input::-ms-clear {
  display: none;
}
button {
  background: transparent;
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*--Обнуление заголовков--*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}

/********************/
:root {
  --bg-btn: #5c8ee6;
  --bg-steps-line: #ebebf0;
  --1-color-txt: #fff;
  --2-color-txt: #292d33;
  --3-color-txt: #828a99;
  --4-color-txt: #5c8ee5;
}
/********************/
@font-face {
  font-family: 'Bebas Neue Regular';
  src: url('../fonts/BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  line-height: 160%;
}
.wrapper {
  flex-direction: column;
}
[class*="_container"] {
  margin: 0 auto;
  max-width: 90em/*1440px*/;
}
.flex {
  display: flex;
}
.title {
  margin-bottom: 0.833em/*50px*/;
  font-family: 'Bebas Neue Regular', serif;
  font-size: 3.75rem/*60px*/;
  line-height: 120%;
  color: var(--2-color-txt);
}
.btn {
  background-color: var(--bg-btn);
}
/********************/

/**header************/
.header {
  position: relative;
  padding-top: 243px;
  margin-bottom: 9.3125em/*149px*/;
  min-height: 100vh;
  background: url("../img/header_icons/header_bg.jpg") center bottom -47px / cover no-repeat;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 45, 51, 0.6);
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  height: 5.875rem/*94px*/;
  z-index: 50;
  color: var(--1-color-txt);
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.4s, height 0.4s;
}

/*-----------------------*/
.nav-white {
  height: 4.625rem/*74px*/;
  color: var(--2-color-txt);
  background-color: var(--1-color-txt);
}
.nav-white .logo__path {
  fill: var(--2-color-txt);
}
.nav-white .header__button {
  padding: 1.8125rem/*29*/ 2.0625rem/*33px*/ 1.8125rem/*29px*/ 3.125rem/*50px*/;
}
.nav-white .header__logo {
  padding: 1.0625rem/*17px*/ 3.125rem/*50px*/;
}
/*-----------------------*/

.header__logo {
  padding: 1.5825rem/*25px*/ 3.125rem/*50px*/;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}
.logo__svg {
  width: 8.75rem/*140px*/;
  height: 2.75rem/*44px*/;
}
.header__menu {
  flex: 1 1 auto;
  margin-left: 3.0625em/*49px*/;
}
.header__menu-item {
  margin-right: 3.1875em/*51px*/;
  line-height: 160%;
}
.header__menu-item:last-child {
  margin: 0;
}
.header__menu-link {
  color: inherit;
}
.header__buttons {
  align-items: center;
}
.header__link-phone {
  align-items: center;
  padding-top: 3px;
  margin-right: 3.125em/*50px*/;
  color: inherit;
}
.header__svg-phone {
  width: 24px;
  height: 24px;
  fill: var(--4-color-txt);
}
.header__number-phone {
  margin-left: 0.625em/*10px*/;
}
.header__button {
  padding: 2.5rem/*40px*/ 2.0625rem/*33px*/ 2.3125rem/*37px*/ 3.125rem/*50px*/;
  font-weight: 600;
  color: var(--1-color-txt);
  transition: padding 0.4s;
}
.header__container {
  position: relative;
  padding-left: 8px;
}
.header__seporator {
  margin-bottom: 1.4375em/*23px*/;
  width: 9.375rem/*150px*/;
  height: 2px;
  background: var(--4-color-txt);
}
.header__content {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 6.25em/*100px*/;
}
.header__title {
  margin-bottom: 0.4875em/*39px*/;
  font-family: 'Bebas Neue Regular', serif;
  font-size: 5rem/*80px*/;
  line-height: 120%;
  max-width: 67.5rem/*1080px*/;
  color: var(--1-color-txt);
}
.header__text {
  margin-bottom: 3.1875em/*51px*/;
  max-width: 45rem/*720px*/;
  color: var(--1-color-txt);
}
.header__content-button {
  padding: 1.75rem/*28p*/ 3.75rem/*60px*/;
  font-weight: 600;
  color: var(--1-color-txt);
}
.header__features {
  position: relative;
  margin-right: -8px;
}
.header__features-list {
  align-items: center;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.header__features-list {
  border-bottom: none;
}
.header__features-item {
  flex-direction: column;
  padding: 1.875rem/*30px*/ 3.8125rem/*61px*/ 1.9375rem/*31px*/ 3rem/*48px*/;
  max-width: 18em/*288px*/;
}
.header__features-item:not(:last-child) {
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}

.header__features-text {
  margin: 1.3125em/*21px*/ 0 0 1px;
  color: var(--1-color-txt);
}

/**main**************/
.main {
  flex: 1 1 auto;
}
/********************/

/*--Section steps---*/
.steps {
}
.steps__container {
  padding-left: 8px;
}
.steps__seporator {
  margin-bottom: 1.5em/*24px*/;
  width: 9.375rem/*150px*/;
  height: 2px;
  background: var(--4-color-txt);
}
.steps__list {
  align-items: center;
  padding-top: 2px;
}
.steps__list-item {
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  margin-right: 3.4375em/*55px*/;
  max-width: 19.0625em/*305px*/;
}
.steps__list-item:last-child {
  margin: 0;
}
.text-4 {
  max-width: 18.75em/*300px*/;
}
.item__number {
  align-items: center;
  margin-bottom: 0.708333em/*34px*/;
  font-family: 'Bebas Neue Regular', serif;
  font-size: 3rem/*48px*/;
  line-height: 120%;
  color: var(--4-color-txt);  
}
.item__number::after {
  content: "";
  margin-left: 0.625em/*30px*/;
  width: 14.375rem/*230px*/;
  height: 1px;
  background: var(--bg-steps-line);
}
.item__subtitle {
  margin-bottom: 0.42857em/*12px*/;
  font-size: 1.75rem/*28px*/;  
  line-height: 160%;
  color: var(--2-color-txt);
}
.item__text {
  color: var(--3-color-txt);
}
.item__link {
  align-items: center;
  margin-top: 1.25em/*20px*/;
  padding-top: 1px;
  font-weight: 600;
  color: var(--4-color-txt);
}
.item__link-line {
  margin-right: 1.25em/*20px*/;
  width: 2.5rem/*40px*/;
  height: 1px;
  background: var(--4-color-txt);
}

/************~Media~**************/
@media (max-width: 120em/*1920px*/) {
  .mobile__menu {
    display: none;
  }
  .header__mobile {
    display: none;
  }
  .header__button .header__svg-phone {
    display: none;
  }
}
@media (max-width: 106.875em/*1710px*/) {
  html {
    font-size: 14px;
  }
  .header-image {
    background-position: 50%;
  }
}
@media (max-width: 93.75em/*1500px*/) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 68.75em/*1100px*/) {
  [class*="_container"] {
    max-width: 60em/*960px*/;
  }
  .header__link-phone {
    display: none;
  }
}
@media (max-width: 62em/*992px*/) {
  .header__menu {
    flex-wrap: wrap;
    margin-left: 1.5625rem/*25px*/;
  }
  .header__menu-item {
    margin-right: 1.5625rem/*25px*/;
  }
  .header__button {
    padding: 2rem/*32px*/ 2.0625rem/*33px*/ 1.6875rem/*27px*/ 3.125rem/*50px*/;
  }

  .nav-white .header__button {
    padding: 1.25rem/*20px*/ 2.0625rem/*33px*/ 1.25rem/*20px*/ 3.125rem/*50px*/;
  }

  .header__button .header__svg-phone {
    display: block;
    height: 22px;
    fill: var(--1-color-txt);
  }
  .header__button .header__button-text {
    display: none;
  }
}
@media (max-width: 48em/*768px*/) {
  [class*="_container"] {
    max-width: 37.5rem/*600px*/;
  }
  
  .header__menu {
    display: none;
  }
  .header__logo {
    flex-grow: 1;
    justify-content: center;
    padding: 0 2.5rem/*40px*/;
    border: 0;
  }
  .header__mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.375rem/*22px*/ 1.75rem/*28px*/;
    height: 100%;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
  .mobile {
  }
  .mobile__line {
    width: 3.125rem/*50px*/;
    height: 1px;
    background: var(--1-color-txt);
    transition: transform 0.2s;
  }
  .line-between {
    width: 2.5rem/*40px*/;
  }

  /*-----------------------*/  
  .nav-white .mobile__line {
    width: 3.125rem/*50px*/;
    background: var(--2-color-txt);
  }
  .nav-white .line-between {
    width: 2.5rem/*40px*/;
  }
  /*-----------------------*/

  .header__button {
    padding: 1.25rem/*20px*/ 2.0625rem/*33px*/ 1.25rem/*20px*/ 3.125rem/*50px*/;
    transition: all 0.4s;
  }
  .header__button .header__button-text {
    display: none;
  }

  /*-----------------------*/
  
  .nav-white .header__logo {
    padding: 0 2.5rem/*40px*/;
  }
  /*-----------------------*/

  .mobile__menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 5.625rem/*90px*/ ;
    width: 100%;
    height: 100%;
    background-color: var(--1-color-txt);
    z-index: 2;
    overflow-y: auto;
  }
  .mobile__menu.is-open {
    display: block;
  }
  .mobile__menu-list {
    display: flex;
    flex-direction: column;
    padding: 0 0.9375rem/*15px*/ 1.875rem/*30px*/;
    margin-bottom: 1.875em/*30px*/;
    border-bottom: 1px solid var(--bg-steps-line);
  }
  .mobile__menu-item {
    margin-bottom: 1.875rem/*30px*/;
  }
  .mobile__menu-item:last-child {
    margin: 0;
  }
  .mobile__menu-link {
    font-weight: 700;
    font-size: 1rem/*16px*/;
    line-height: 160%;
    color: var(--2-color-txt);
  }
  .mobile__submenu {
    flex-direction: column;
    padding: 1.25rem/*20px*/ 1.25rem/*20px*/ 0;
  }
  .mobile__submenu-item {
    margin-bottom: 0.625rem/*10px*/;
  }
  .mobile__submenu-item:last-child {
    margin: 0;
  }
  .mobile__submenu-link {
    font-size: 1rem/*16px*/;
    line-height: 160%;
    color: var(--3-color-txt);
  }
  .mobile__phone {
    display: block;
    padding-left: 0.9375rem/*15px*/;
    margin-bottom: 1.25rem/*20px*/;
    font-weight: 600;
    font-size: 1.25rem/*20px*/;
    line-height: 160%;
    text-decoration: underline;
    color: var(--2-color-txt);
  }
  .mobile__info-list {
    flex-direction: column;
    padding: 0 0.9375rem/*15px*/ 0.9375rem/*15px*/;
  }
  .mobile__info-item {
    margin-bottom: 0.625rem/*10px*/;
  }
  .info {
    align-items: center;
  }
  .mobile__info-item:last-child {
    margin: 0;
  }
  .mobile__info-link {
    align-items: center;
  }
  .mobile__info-address {
    margin-left: 0.625rem/*10px*/;
    font-style: normal;
    font-size: 1rem;
    line-height: 160%;
    color: var(--2-color-txt);
  }
  .mobile__info-span {
    margin-left: 0.625rem/*10px*/;
    font-size: 1rem;
    line-height: 160%;
    color: var(--2-color-txt);
  }
  .info__link-vk {
    margin-right: 0.9375rem/*15px*/;
  }
  .close-menu .line-between {
    display: none;
  }
  .close-menu .line-top {
    transform: rotate(45deg) translateY(12px);
  }
  .close-menu .line-bottom {
    transform: rotate(-45deg) translateY(-12px);
  }
  .header__container {
    padding: 0 8px;
  }
  .header__content-button {
    width: 100%;
  }
  .header__nav {
    height: 4.625rem/*74px*/;
  }
}


/**footer************/



